final/.prettierrc
final/index.html
final/script.js
final/style.css
final/img/card-lazy.jpg
final/img/card.jpg
final/img/digital-lazy.jpg
final/img/digital.jpg
final/img/grow-lazy.jpg
final/img/grow.jpg
final/img/hero.png
final/img/icon.png
final/img/icons.svg
final/img/img-1.jpg
final/img/img-2.jpg
final/img/img-3.jpg
final/img/img-4.jpg
final/img/logo.png
final/img/user-1.jpg
final/img/user-2.jpg
final/img/user-3.jpg
